@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    @apply bg-gray-800;
    font-size: 10px;
}

.contentEdit a {
    text-decoration: underline;
    color: #00ff2b;
}

.blog-template-div{
    font-size: 20px;
}

.blog-template-div ~ div{
    padding-bottom: 10px;
}

.blog-template-div h3{
    padding-top: 20px;
    font-size: 26px !important;
    font-weight: 800;
}